<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mat-elevation-z6">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="home">
        <span class="material-icons menu-icon">
          home
        </span>Home</a>
      <a mat-list-item href="#" routerLink="wall">
        <span class="material-icons menu-icon">
          view_list
        </span>Wall of shame</a>
      <a mat-list-item href="#" routerLink="vote-page">
        <span class="material-icons menu-icon">
          thumbs_up_down
        </span>Vote</a>
      <a mat-list-item href="#" routerLink="recycle-info">
        <span class="material-icons menu-icon">
          info
        </span>Recycling info</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="custom" class="mat-elevation-z6">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <div class="brand-area-container">
          <img class="brand-area" src="../assets/logos/logo.png">
        </div>

      </span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <!-- Place which renders content -->
    <router-outlet>



    </router-outlet>



  </mat-sidenav-content>
</mat-sidenav-container>