
<div class="container">

    <h3>Select store or supermarket </h3>




<mat-card class="value-selector" >
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <img mat-card-image src="../../assets/logos/lidl.png" alt="lidl">
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
    </mat-grid-list>
  
</mat-card>




<mat-card class="value-selector" >
  
</mat-card>




<mat-card class="value-selector" >
    
</mat-card>




<mat-card class="value-selector" >
   
</mat-card>




<section>

<div>

    <button mat-raised-button color="primary" class="submit-button">Primary</button>
</div>
</section>
   
</div>




