
<div class="container">

    <h3>Select store or supermarket </h3>

<mat-card class="brand-card" >
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile rowspan="1">
            <img mat-card-image src="../../assets/logos/tesco.png" class="brand-image" alt="tesco">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="brand-name">Tesco Ireland</mat-grid-tile>
        <mat-grid-tile colspan="1">     
            <i class="material-icons md-24 thumbs-up" href="#"> thumb_up</i>
        </mat-grid-tile>
      </mat-grid-list>
</mat-card>




<mat-card class="brand-card" >
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile rowspan="1">
            <img mat-card-image src="../../assets/logos/lidl.png" class="brand-image" alt="lidl">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="brand-name">Lidl Ireland</mat-grid-tile>
        <mat-grid-tile colspan="1">
            <i class="material-icons md-24 thumbs-up"  href="#"> thumb_up</i>
        </mat-grid-tile>
      </mat-grid-list>
</mat-card>




<mat-card class="brand-card" >
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile rowspan="1">
            <img mat-card-image src="../../assets/logos/dunnes.png" class="brand-image" alt="dunnes">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="brand-name">Dunnes stores</mat-grid-tile>
        <mat-grid-tile colspan="1">
            <i class="material-icons md-24 thumbs-up"  href="#"> thumb_up</i>
        </mat-grid-tile>
      </mat-grid-list>
</mat-card>




<mat-card class="brand-card" >
    <mat-grid-list cols="4" rowHeight="2:2">
        <mat-grid-tile rowspan="1">
            <img mat-card-image src="../../assets/logos/aldi.png" class="brand-image" alt="aldi">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="brand-name">Alidi</mat-grid-tile>
        <mat-grid-tile colspan="1">
            <i class="material-icons md-24 thumbs-up"  href="#"> thumb_up</i>
        </mat-grid-tile>
      </mat-grid-list>
</mat-card>
</div>

<section>
<mat-toolbar>
    <button mat-raised-button color="primary" class="submit-button">Primary</button>
</mat-toolbar>
</section>
   