<div class="container">

  <section>
    <mat-card class="emittor-card">
      <div class="top-emitter-card">
        <mat-card-title class="emitter-type">Highest emitter</mat-card-title>
        <mat-card-subtitle>Statistics based on public votes</mat-card-subtitle>
      </div>
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="">
          <mat-grid-tile rowspan="1">
            <img src="../../assets/logos/tesco.png" class="brand-image" alt="tesco">
          </mat-grid-tile>
          <mat-grid-tile colspan="2" class="brand-name">

            <mat-grid-list cols="1" rowHeight="" class="emitter-stats">
              <div class="home-brand-name">Tesco ireland</div>
              <div class="home-brand-votes">65%</div>
              <div class="home-brand-waste">Non-Recyclables</div>
            </mat-grid-list>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>
  </section>


  <section>

    <mat-card>
      <fusioncharts type="Column2d" [chartConfig]="chartConfig" [dataSource]="dataSource">
      </fusioncharts>
    </mat-card>

  </section>




</div>