
<div class="container">

    <h3>Select store or supermarket </h3>
    <form [formGroup]="itemForm" (ngSubmit)="submitItem()" #resetItemForm="ngForm" novalidate>

    <div class="store-selector">
    <mat-form-field class="value-fields">
        <mat-label>Select store</mat-label>
        <mat-select formControlName="store_name">
          <mat-option *ngFor="let store of stores" [value]="store.viewValue">
            {{store.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
</div>

<label>Recyclables </label>
<mat-card class="value-selector" >
    <mat-slider class="value-fields-slider"  formControlName="recyclables_quantity"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="0"
    [tickInterval]="getSliderTickInterval()"
    [step]="step"
    max="100">
</mat-slider>
</mat-card>


<label>Non-recyclables </label>

<mat-card class="value-selector" >
    <mat-slider class="value-fields-slider"  formControlName="nonrecyclable_quantity"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="0"
    [tickInterval]="getSliderTickInterval()"
    [step]="step"
    max="100"></mat-slider>
</mat-card>

<label>Reusables</label>
<mat-card class="value-selector" >
    <mat-slider class="value-fields-slider"  formControlName="reusables_quantity"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="0"
    [tickInterval]="getSliderTickInterval()"
    [step]="step"
    max="100"></mat-slider>
</mat-card>

<label> Degradables</label>
<mat-card class="value-selector" >
    <mat-slider class="value-fields-slider"  formControlName="degradables_quantity"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="0"
    [tickInterval]="getSliderTickInterval()"
    [step]="step"
    max="100"></mat-slider>
</mat-card>
</form>
</div>




   


<mat-card>
    <div class="full-wrapper button-wrapper">
      <div class="button-wrapper">
        <button mat-flat-button color="warn" (click)="submitItem()">Submit</button>
        <button mat-flat-button color="war" (click)="resetForm()">Clear</button>
      </div>
    </div>
</mat-card>

   <!---- <mat-toolbar class="submit-footer">
        <button mat-raised-button color="primary" class="submit-button">Submit</button>
    </mat-toolbar>-->

