
<div class="container">


  <h3 class="heading-3">Add your weekly shopping waste list to get started </h3>

  <owl-carousel-o [options]="customOptions" >

      
      <ng-template class="container" carouselSlide>
    
        <mat-card class="menu-card" routerLink="/add-waste">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Add waste</mat-card-title>
            <mat-card-subtitle>Add your weekly shopping waste</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/home/add-waste.png" alt="add waste">
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card> 

      </ng-template>  


      
      <ng-template class="container" carouselSlide>
        <mat-card class="menu-card" routerLink="/your-stats" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your statistics</mat-card-title>
            <mat-card-subtitle>Personal statistics</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/home/your-progress.png" alt="progress">
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card> 

    </ng-template>  
      <ng-template class="container" carouselSlide>
        <mat-card class="menu-card"  routerLink="/locations">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Locations</mat-card-title>
            <mat-card-subtitle>Waste deposite locations</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/home/collection-points.png" alt="points">
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card> 
    </ng-template>  
  </owl-carousel-o>



<section>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
        <mat-card-content>
    </mat-card-content>
  </mat-card>
</section>



</div>
